.intro p{
    color:green;
    margin:auto;
    size:1em;
}

.members{
    background-color: red;
    
}

#portrait{
    background-color: blue;
    display: inline;
    margin: auto;
    
}




footer{
    background-color: green;

}
h2{
    display: inline;
    
}