body{                        /*för body*/
	margin: 0px;
	background:#fff;
}

header{
	height:100px;
	background-color:#666;
	float: right ;
	text-align: center;
	border-style: double;
	border-color: gray;
	width:100%;
}

header img{
	
	margin-top:10px;
}

header a:link, header a:visited{    /*header id för headern*/
	color:#FFF;
	display: inline-block;
	width: 180px;
	height: 30px;
	background-color: #666;
	text-align:center;
	font-size: 1.2em;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
}


header a:hover{
	color: lightgreen;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	
}

.intro , .whatwedo{
	display: block;
    margin:auto;
	max-width:55%;
	margin-top:15px;
	height: 250px;
    margin-bottom: 200px;
	border: black, 2px;
}

.intro h2, .whatwedo h2 {

	text-align: center;
	margin-top:100px;
	margin-bottom:50px;
}

.members{
	width: 100%;
	margin:auto;
	padding: 0 8px;
	
}



.members:after, .portrait:after {
	content: "";
	display: table;
	clear: both;
}

.portrait{ 
    border-color: black;   
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	border-style:outset;
	border-width: 1px;        					/*kategori classen är för startsidan, den fixar alla 3 kolumner och deras innehåll*/
	float:left;
	width: 30%;
	height: 700px; 
	margin-bottom: 16px;
	margin-left:27px;
	margin-right:5px;
	
}



.profileimage {
	margin-top:30px;
	margin-bottom: 15px;
	height:250px;
	justify-content: center;
	margin-left:140px;
}
.portrait h2, p{
justify-content: center;
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	margin-left: 40px;
	margin-right:40px;
}
.portrait h2{
    display: inline;
	text-align: center;
	margin-top: 5px;
}
.portrait h1{
	text-align: center;
	margin:5px;
	margin-top:20px;
}

footer{
    background-color: #666;
	height:100px;
}

footer p{
	
	text-align: center;
}
